<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta name="robots" content="index, follow">
  	<meta name="description" content="">
  	<meta name="keywords" content="">
  	<meta name="author" content="Connective DX">
  	<meta name="apple-mobile-web-app-title" content="Phoenix">

  	<script src="/Assets/dist/js/head.js"></script>
  	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/Assets/dist/css/style.css">
    <!-- endbuild -->
  </head>
  <body ng-app="<%= appname %>">
  	<div class="row">
  		<div class="eight columns centered" style="border: none;">
  			<a href="index.php">
  				<img src="/Assets/dist/img/content/logo-placeholder.png" alt="Phoenix by Connective DX" class="img-align-center">
  			</a>
  		</div>
  	</div>
    
    <div class="row">
  		<h1><a href="documentation/">Documentation</a></h1>
  		<h1>Sample Pages</h1>
  		<ul>
  			<li><a href="style-guide.php">Style Guide</a></li>
  			<li><a href="grid-system-test.php">Grid System Test</a></li>
  			<li>
  				Semantic Grid System Test
  				<ul>
  					<li><a href="semantic-grid-system-test-two-column.php">Two Column</a></li>
  					<li><a href="semantic-grid-system-test-three-column.php">Three Column</a></li>
  				</ul>
  			</li>
  			<li><a href="multi-grid.php">Multi Grid</a></li>
  			<li><a href="complex-layout-test.php">Complex Layout Test</a></li>
  		</ul>
  	</div>

    <script src="/Assets/dist/js/main.js"></script>
  </body>
</html>